include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include dms *.css
recursive-include dms *.csv
recursive-include dms *.html
recursive-include dms *.ico
recursive-include dms *.js
recursive-include dms *.json
recursive-include dms *.md
recursive-include dms *.png
recursive-include dms *.py
recursive-include dms *.svg
recursive-include dms *.txt
recursive-exclude dms *.pyc